In [1]:
import pandas as pd
import numpy as np
import re

In [19]:
#read data from the source csv data file
view_number = pd.read_csv('site_view.csv')
view_number.dropna(axis=0, inplace=True)
view_number.rename(columns={'2023-02-12':'date'}, inplace= True)
view_number

,date,0,3432,1,3403,2,3377,3,3359,4,...,1435,3363,1436,3340,1437,3308,1438,3285,1439,3257
0,2023-02-11,0,4108,1,4082,2,4041,3,4009,4,...,1435.0,3604.0,1436.0,3564.0,1437.0,3538.0,1438.0,3513.0,1439.0,3468.0
1,2023-02-10,0,4345,1,4310,2,4287,3,4253,4,...,1435.0,4292.0,1436.0,4263.0,1437.0,4223.0,1438.0,4178.0,1439.0,4145.0
2,2023-02-09,0,3729,1,3689,2,3663,3,3634,4,...,1435.0,4521.0,1436.0,4496.0,1437.0,4458.0,1438.0,4427.0,1439.0,4394.0
3,2023-02-08,0,3368,1,3344,2,3319,3,3296,4,...,1435.0,3910.0,1436.0,3867.0,1437.0,3839.0,1438.0,3809.0,1439.0,3771.0
4,2023-02-07,0,3319,1,3282,2,3258,3,3236,4,...,1435.0,3533.0,1436.0,3504.0,1437.0,3479.0,1438.0,3441.0,1439.0,3397.0
5,2023-02-06,0,3257,1,3230,2,3210,3,3187,4,...,1435.0,3468.0,1436.0,3441.0,1437.0,3409.0,1438.0,3381.0,1439.0,3347.0
6,2023-02-05,0,3812,1,3768,2,3745,3,3712,4,...,1435.0,3411.0,1436.0,3376.0,1437.0,3357.0,1438.0,3327.0,1439.0,3298.0
7,2023-02-04,0,4303,1,4280,2,4237,3,4214,4,...,1435.0,3989.0,1436.0,3947.0,1437.0,3927.0,1438.0,3888.0,1439.0,3853.0
8,2023-02-03,0,4634,1,4601,2,4570,3,4543,4,...,1435.0,4472.0,1436.0,4438.0,1437.0,4406.0,1438.0,4369.0,1439.0,4339.0
9,2023-02-02,0,3830,1,3810,2,3774,3,3755,4,...,1435.0,4833.0,1436.0,4796.0,1437.0,4764.0,1438.0,4729.0,1439.0,4677.0
10,2023-02-01,0,3694,1,3666,2,3634,3,3607,4,...,1435.0,4077.0,1436.0,3986.0,1437.0,3923.0,1438.0,3851.0,1439.0,3836.0
11,2023-01-31,0,3465,1,3434,2,3404,3,3380,4,...,1435.0,3877.0,1436.0,3843.0,1437.0,3811.0,1438.0,3770.0,1439.0,3729.0
13,2023-01-29,0,3188,1,3160,2,3142,3,3117,4,...,1435.0,3441.0,1436.0,3419.0,1437.0,3385.0,1438.0,3364.0,1439.0,3323.0
14,2023-01-28,0,3721,1,3683,2,3662,3,3625,4,...,1435.0,3351.0,1436.0,3322.0,1437.0,3287.0,1438.0,3258.0,1439.0,3227.0
15,2023-01-27,0,4400,1,4373,2,4351,3,4317,4,...,1435.0,3903.0,1436.0,3871.0,1437.0,3827.0,1438.0,3804.0,1439.0,3768.0
16,2023-01-26,0,3623,1,3591,2,3572,3,3535,4,...,1435.0,4598.0,1436.0,4556.0,1437.0,4533.0,1438.0,4497.0,1439.0,4456.0
17,2023-01-25,0,3288,1,3243,2,3233,3,3216,4,...,1435.0,3812.0,1436.0,3771.0,1437.0,3732.0,1438.0,3710.0,1439.0,3672.0
18,2023-01-24,0,3312,1,3289,2,3247,3,3227,4,...,1435.0,3429.0,1436.0,3396.0,1437.0,3377.0,1438.0,3345.0,1439.0,3321.0
19,2023-01-23,0,3261,1,3238,2,3210,3,3194,4,...,1435.0,3460.0,1436.0,3433.0,1437.0,3403.0,1438.0,3373.0,1439.0,3341.0
20,2023-01-22,0,3204,1,3188,2,3168,3,3140,4,...,1435.0,3417.0,1436.0,3391.0,1437.0,3360.0,1438.0,3329.0,1439.0,3300.0
21,2023-01-21,0,3630,1,3592,2,3549,3,3512,4,...,1435.0,3344.0,1436.0,3323.0,1437.0,3305.0,1438.0,3272.0,1439.0,3239.0
22,2023-01-20,0,4352,1,4332,2,4299,3,4265,4,...,1435.0,3804.0,1436.0,3771.0,1437.0,3751.0,1438.0,3708.0,1439.0,3670.0
23,2023-01-19,0,3528,1,3495,2,3472,3,3444,4,...,1435.0,4538.0,1436.0,4501.0,1437.0,4458.0,1438.0,4423.0,1439.0,4390.0
24,2023-01-18,0,3086,1,3060,2,3046,3,3028,4,...,1435.0,3696.0,1436.0,3658.0,1437.0,3634.0,1438.0,3605.0,1439.0,3567.0
25,2023-01-17,0,3115,1,3082,2,3074,3,3055,4,...,1435.0,3250.0,1436.0,3230.0,1437.0,3195.0,1438.0,3158.0,1439.0,3130.0
26,2023-01-16,0,2909,1,2882,2,2859,3,2843,4,...,1435.0,3256.0,1436.0,3231.0,1437.0,3206.0,1438.0,3171.0,1439.0,3139.0
27,2023-01-15,0,3088,1,3058,2,3044,3,3028,4,...,1435.0,3039.0,1436.0,3016.0,1437.0,2989.0,1438.0,2965.0,1439.0,2940.0
28,2023-01-14,0,3833,1,3792,2,3751,3,3730,4,...,1435.0,3215.0,1436.0,3207.0,1437.0,3181.0,1438.0,3159.0,1439.0,3119.0

In [35]:
# extract year, month and day from the date column 
# compute the day of week [0..6] for Saturday to Friday
# fill the minute column for each day
# all are saved in a matrix named date_matrix

my_df = np.zeros((40320,6), dtype = float )
minu = [i for i in range (0, 1440)]
str = []
for i in view_number.date:
    str.append(i)
date_matrix = np.zeros((28,4), dtype = int)
for i in range (0, 28):    
    s_date = re.split('-', str[i])    
    for j in range (0, 3):
        date_matrix[i][j] = int(s_date[j])
    date_matrix[i][3] = int(pd.Timestamp(str[i]).day_of_week)
x = 0
y = 1440
for j in range (0, 28):
    date_matrix_row = date_matrix[j]
    for i in range (x, y):
        for j in range (0, 4):
            my_df[i][j] = date_matrix_row[j]
        my_df[x:y,5] = minu
    x = x + 1440
    y = y + 1440

In [36]:
# save the number of views in a list named views_num
views_num = [] 
for i in range (0,28):
    f_row = view_number.iloc[i,1:]    
    count = 0
    for j in f_row:
        if count % 2 != 0:
            views_num.append(j)
        count += 1

In [37]:
#sign weekends (Friday) and holidays
for i in range (0 , 40320):
    if my_df[i][3] == 4:
        my_df[i][4] = 1
    else:
        my_df[i][4] = 0
holidays = [[2023, 2, 4, 1], [2023, 2, 11, 1]]
for i in range (0 , 40320):
    for j in range (0, 2):
        if my_df[i][0] == holidays[j][0] and my_df[i][1] == holidays[j][1] and my_df[i][2] == holidays[j][2]:
            my_df[i][4] = holidays[j][3]

In [38]:
#save all processed data in dataframe and in a csv file, named Input.csv
view_df = pd.DataFrame(my_df)
view_df=view_df.rename(columns={0:'Year', 1:'Month', 2:'Day', 3:'Day-of-Week', 4:'Holiday', 5:'Minute-from-Midnight'})
view_df['views'] = views_num
view_df.to_csv('Input.csv')
view_df

         Year  Month   Day  Day-of-Week  Holiday  Minute-from-Midnight   views
0      2023.0    2.0  11.0          5.0      1.0                   0.0  4108.0
1      2023.0    2.0  11.0          5.0      1.0                   1.0  4082.0
2      2023.0    2.0  11.0          5.0      1.0                   2.0  4041.0
3      2023.0    2.0  11.0          5.0      1.0                   3.0  4009.0
4      2023.0    2.0  11.0          5.0      1.0                   4.0  3988.0
...       ...    ...   ...          ...      ...                   ...     ...
40315  2023.0    1.0  14.0          5.0      0.0                1435.0  3215.0
40316  2023.0    1.0  14.0          5.0      0.0                1436.0  3207.0
40317  2023.0    1.0  14.0          5.0      0.0                1437.0  3181.0
40318  2023.0    1.0  14.0          5.0      0.0                1438.0  3159.0
40319  2023.0    1.0  14.0          5.0      0.0                1439.0  3119.0

[40320 rows x 7 columns]